:root {
    --mainColor: #0069c0;
    --secondaryClr: #6ec6ff;
}

p {
    text-align: center;
    margin: auto;
}

.board {
    display: inline-block;


}
#app {
    max-width: 800px;
    min-height: 700px;
    margin: auto;
    background: white;
    padding: 50px;
}

img{
    width: 250px;
}

img.other_pics{
    width: 500px;
}

body{
    background: lightgrey;
    font-size: 20px;
    margin: auto;
    font-family: "Courier New";
}
table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.TableHeader {
    text-align: center;
    font-weight: bold;
}

.buttonB {
    background-color: var(--mainColor);
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    width: 100px;
    margin: 5px;
    display: block;
}

.rightSide {
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    width: 100px;
    display: inline-block;
    float: right;
}

.inline_object {
    display: inline-block;
}

.like {
    background-color: green;
    float: right;
}

.nope {
    background-color: red;
    float: left;
}

.other_pictures_div {
    margin: auto;
    max-width: 500px;
    background: white;
    padding: 50px;
}

/* Dropdown Button */
.dropbtn {
    background-color: var(--mainColor);
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    width: 100px;

}

.buttons_under_picture {
    position: relative;

}

.text_under_picture {


}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: absolute;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: var(--secondaryClr)}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: var(--mainColor)}



@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    th {
        display: none;
    }

    tr { border: 1px solid #ccc; }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
    td:nth-of-type(1):before { content: "Võitja"; }
    td:nth-of-type(2):before { content: "Suurus"; }
    td:nth-of-type(3):before { content: "Laevu"; }
    td:nth-of-type(4):before { content: "Mängija lasud"; }
    td:nth-of-type(5):before { content: "Vastase lasud"; }
    td:nth-of-type(6):before { content: "Aeg"; }
}

#game {
    /* display: inline-block; */
    width: 110px;
    margin: auto;
}

#info {

    margin: auto;
    width: 70%;
    vertical-align: top;
}

#nameContainer {

    margin: auto;
    width: 65%;
    vertical-align: top;
}

/* Full-width input fields */
input {
    width: 150px;
    padding: 6px 20px;
    margin: 8px 5px;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 12px;
}

input.about {
    width: 50%;
    height: 150px;
}
input.fileToUpload {
    width: 50%;

}input.gender {
    width: auto;
    display: inline-block;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}


.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    min-height: 500px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
